body {
	padding:30px;
}
h1 {
	background-color: rgb(255, 178, 101);
	height: 100px;
	width: 350px;
	padding: 30px;
	color: white;
}

#instructions {
	background-color: rgb(255, 226, 95);
	padding:30px;
	padding-left: 10px;
	width:600px;
	height: 550px;
	color: green;
	font-size: 20px;

}
.img-thumbnail {
	height:100px;
	width:120px;
}

